nav.m-menu([@mouse-scroll]="isStopped ? 'scroll-down':'scroll-up'")
  ul.m-menu__menuBar
    li コラム
    li 製作者
    li Hot Topic
    li @2020 ixap2i
    li {{isStopped ? 'mouse-scroll':'scroll-down'}}
