nav.m-menu([@mouse-scroll]="isStopped ? 'scroll-down':'scroll-up'")
  ul.m-menu__menuBar
    a(href="")
      li コラム
    a(href="")
      li 製作者
    a(href="")
      li Hot Topic
    li @2020 ixap2i
    //- li {{isStopped ? 'mouse-scroll':'scroll-down'}}
  a(href="#top")
    .a-icon__toTop([@appear-top-icon]="isStopped ? 'disappear-icon':'appear-icon'") TOPへ&nbsp;↑
      img(src="/assets/gix_icon.png" class="a-icon__gixxer")
